:root {
    --blue: #2794ff;
    --light-blue: #25719a;
    --green: #2fb510;
    --side-margins: 8vw;
    --contact-info-height: 3.2vw;
    --transition: 0.15s;
    --header-height: 12vh;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
    font-size: clamp(12px, 0.8vw, 18px);
}
body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    padding-top: var(--header-height);
}
header {
    width: 100%;
    height: var(--header-height);
    border-bottom: 3px solid var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    background-color: white;
    position: fixed;
    top: 0;
    padding-bottom: 3vh;
}
a {
    text-decoration: none;
    color: inherit;
    user-select: text;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content {
    flex-grow: 1;
    margin: 0 var(--side-margins);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-burger {
    display: none;
}
.header-contact-info {
    /*background-color: var(--blue);*/
    display: flex;
}
.header-contact-info .contact-info:not(:last-child){
    padding-right: 30px;
}
.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
}
.contact-info {
    display: flex;
    align-items: center;
    transition: var(--transition);
}
.contact-info:hover {
    cursor: pointer;
    color: var(--blue);
}
.contact-info:hover .contact-icon {
    cursor: pointer;
    /*color: black;*/
    background-color: var(--blue);
    color: white;
}
.contact-main {
    display: flex;
    flex-direction: column;
    height: var(--contact-info-height);
    justify-content: space-between;
}
.contact-icon {
    height: var(--contact-info-height);
    width: var(--contact-info-height);
    border-radius: var(--contact-info-height);
    background-color: white;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: var(--transition);
    border: 3px solid var(--blue);
}
.contact-title {
    font-weight: bold;
}
h2 {
    /*margin-left: 30px;*/
    font-size: 3rem;
    letter-spacing: .15rem;
}
.main-body {
    height: calc(100vh - var(--header-height));
    display: flex;
    align-items: center;
    background-color: #555353;
    position: relative;
    background-image: url("main-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section {
    width: 100vw;
    height: calc(100vh - var(--header-height));
    display: flex;
    align-items: center;
    background-color: #555353;
    position: relative;
    background-image: url("main-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.main-section {
    width: 35vw;
    /*height: 400px;*/
    margin-left: var(--side-margins);
    position: relative;
    margin-top: -200px;
    /*background-color: red;*/
}
.main-title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 80px;
    margin: 20px -15px;
    color: white;
    border-right: 5px solid var(--blue);
    /*margin: 0 10px;*/
}
.panel.right .main-title {
    border-right: 0;
    border-left: 5px solid var(--blue);
}
.main-text {
    font-size: 1.3rem;
    line-height: 2.5rem;
    color: white;
}
.main-body-image {
    position: absolute;
    height: 100%;
    clip-path: circle(50% at 45% 50%);
    right: 15vw;
    transform: translateX(55%);
}
.main-button {
    margin-top: 30px;
    font-size: 2.3rem;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background-color: var(--blue);
    outline: 0;
    border-radius: 10px;
    color: white;
    width: 25vw;
    height: 10vh;
    cursor: pointer;
    transition: var(--transition);
    position: absolute;
    bottom: calc(-10vh - 3vh);
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-button:hover {
    transform: scale(1.2);
    color: white;
    background-color: var(--green);
}

.navigation {
    height: 6vh;
    width: calc(100vw - (var(--side-margins) * 2));
    background-color: var(--light-blue);
    position: absolute;
    bottom: -3vh;
    display: flex;
    box-shadow: 0px 5px 28px -8px rgb(85, 83, 83);
    border-radius: 10px;
    /*border: 3px solid var(--blue);*/
}
.navigation-button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 30px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: var(--transition);
    color: white;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}
.navigation-button.right {
    margin-left: auto;
    /*border-radius: 0;*/
    border-radius: 0 10px 10px 0;
    background-color: var(--blue);
    display: flex;
}
.navigation-button.right:hover {
    background-color: var(--green);
}
.navigation .navigation-button:first-child {
    border-radius: 10px 0 0 10px;
}
.navigation-button:hover {
    background-color: var(--blue);
    color: white;
}

.panel {
    width: 40vw;
    margin-left: var(--side-margins);
    position: relative;
}
.panel:has(.main-button) {
    margin-top: -200px;
}
.panel.right {
    margin-left: auto;
    margin-right: var(--side-margins);
    justify-self: flex-end;
    text-align: end;
}
section .panel:first-of-type {
    width: 100vw;
}

/*.panel {*/
/*   background-color: red;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/




@media only screen and (max-width: 768px) {

    .header-burger {
        display: flex;
    }
    .contact-info {
        display: none;
        height: 10vh;
    }
    .contact-main {
        height: auto;
    }
    .contact-icon {
        width: 7vh;
        height: 7vh;
    }
    .contact-title, .contact-text {
        font-size: 1.5rem;
    }
    .main-body-image {
        display: none;
    }
    .main-section {
        width: 90%;
        margin-left: 5vw;
    }
    .main-body {
        flex-grow: 1;
        display: flex;
        align-items: center;
        background-color: #555353;
        position: relative;
        background-image: url("main-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-button {
        width: 100%;
    }
    .header-content {
        margin: 0 5vw;
        flex-direction: column;
        height: 100%;
    }
    h2 {
        font-size: 3rem;
        letter-spacing: .15rem;
        margin: 0;
    }
    #header.active {
        height: 100vh;
        top: 0;
        position: fixed;
        right: 0;
    }
    .header-contact-info {
        display: none;
        flex-direction: column;
    }

    .header-contact-info.active {
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }
    .contact-info.active {
        display: flex;
    }
    .header-left {
        width: 100%;
        top: 0;
    }

}